<h2>会員情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "氏名" %><br />
    <%= f.text_field :last_name, autofocus: true %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label "フリガナ" %><br />
    <%= f.text_field :last_name_kana, autofocus: true %>
    <%= f.text_field :first_name_kana, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label "郵便番号" %><br />
    <%= f.text_field :postcode, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label "住所" %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label "電話番号" %><br />
    <%= f.text_field :tel, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="actions">
    <%= f.submit "編集内容を保存" %>
  </div>
<% end %>

<%= link_to "退会する", customers_unsubscribe_path %>