<div class="container mt-5 mb-5">
  <%= render "customers/shared/error_messages", resource: resource %>
  <div class="row justify-content-center">
    <div class="col-6">
      <h4>新規会員登録</h4>
    </div>
  </div>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row justify-content-center text-end">
      <div class="col-2 offset-md-1"><%= f.label "お名前" %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(姓)" %></div>
      <div class="col-1"><%= f.text_field :last_name, :size => "10", placeholder: "長野" %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(名)" %></div>
      <div class="col-1"><%= f.text_field :first_name, :size => "10", placeholder: "花子" %></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2 offset-md-1"><%= f.label "フリガナ" %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(セイ)" %></div>
      <div class="col-1"><%= f.text_field :last_name_kana, :size => "10", placeholder: "ナガノ" %></div>
      <div class="col-1 text-right pr-0"><%= f.label "(メイ)" %></div>
      <div class="col-1"><%= f.text_field :first_name_kana, :size => "10", placeholder: "ハナコ" %></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 offset-md-1"><%= f.label "メールアドレス" %></div>
      <div class="col-3"><%= f.email_field :email, :size => "25", placeholder: "sample@example.com" %></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 offset-md-1"><%= f.label "郵便番号(ハイフンなし)" %></div>
      <div class="col-3"><%= f.text_field :postcode, :size => "10", placeholder: "1001000" %></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 offset-md-1"><%= f.label "住所" %></div>
      <div class="col-3"><%= f.text_field :address, :size => "40", placeholder: "東京都渋谷区代々木神園町0-0" %></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 offset-md-1"><%= f.label "電話番号(ハイフンなし)" %></div>
      <div class="col-3"><%= f.text_field :tel, placeholder: "08012345678" %></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 offset-md-1">
        <% if @minimum_password_length %>
          <%= f.label "パスワード(#{@minimum_password_length}文字以上)" %>
        <% end %>
      </div>
      <div class="col-3"><%= f.password_field :password %></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 offset-md-1"><%= f.label "パスワード(確認用)" %></div>
      <div class="col-3"><%= f.password_field :password_confirmation %></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2 offset-md-1 mt-3 mb-5">
        <%= f.submit "新規登録", class:"col btn btn-success" %>
      </div>
    </div>
  <% end %>
  
  <%= render "customers/shared/links" %>
</div>