<div class="home-box mx-auto mt-3">
  <div class="home-img">
    <p class="home-text">ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
    </p>
  </div>
</div>

<div class="new-item-container mx-1 mt-3">
  <h2>新着商品</h2>
  <% @items.first(4).each do |item| %>
  <div new-item-box>
    <%= link_to item_path(item) do %>
      <%= attachment_image_tag(item, :image , size: "100x100",fallback: "no_image.jpg") %>
    <% end %>
      <%= item.name %>
    <%= item.price_excluding_tax %>
  </div>
<% end %>
</div>

<%= link_to "全ての商品をみる", items_path %>