<p>注文履歴詳細</p>
<%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
<div class="form-row">
  <p>購入者</p>
  <%= link_to admin_customer_path do %>
  <p><%= @order.customer.last_name + @order.customer.first_name %></p>
  <% end %>
</div>
<div class="form-row">
  <p>注文日</p>
  <p><%= @order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
</div>
<div class="form-row">
  <p>配送先</p>
  <p>〒<%= @order.shipping_postcode %> <%= @order.shipping_address %> <%= @order.shipping_name %></p>
</div>
<div class="form-row">
  <p>支払い方法</p>
  <p><%= @order.payment_option %></p>
</div>
<div class="form-row">
  <%= f.label :order_status, "注文ステータス" %>
  <%= f.select :order_status,Order.order_statuses.keys %>
  <%= f.submit "更新" %>
</div>
<% end %>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %> </td>
      <td><%= change_price_excluding_tax(order_detail.price_including_tax) %></td>
      <td>
        <%= order_detail.amount %>
      </td>
      <td><%= change_price_excluding_tax(order_detail.price_including_tax) * order_detail.amount %>円</td>
      <td>
        <%= form_with model: order_detail, url: admin_order_detail_path, method: :patch, local: true do |f| %>
        <%= f.hidden_field :order_detail_id, :value => order_detail.id %>
        <%= f.select :production_status, OrderDetail.production_statuses.keys %>
        <%= f.submit "更新" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <% @add_tax_total_payment = change_price_excluding_tax(@order.total_payment) %>
  商品合計 <%= @add_tax_total_payment %>
</p>
<p>送料  <%= @order.shipping_fee %>円</p>
<% @total_payment_add_shipping_fee = @add_tax_total_payment + @order.shipping_fee %>
<p>請求金額合計  <%= @total_payment_add_shipping_fee %> 円</p>