<div class="container mt-5 mb-5">
  <div class="row shipping-new">
    <div class="col-md-8 mx-auto">
      <h2>配送先編集</h2>
      <%= form_with model: @shipping_address, local: true do |f| %>
      <%= render "error_messages", shipping_address: @shipping_address %>
      <table>
        <tr>
          <div calss="form-group">
            <<%= f.label :"郵便番号(ハイフンなし)" %>
            <%= f.text_field :shipping_postcode, placeholder:"0000000" %>
          </div>
        </tr>
        <tr>
          <div calss="form-group">
            <%= f.label :"住所" %>
            <%= f.text_field :shipping_address, placeholder:"住所を入力してください", :size => "50" %>
          </div>
        </tr>
      <div calss="form-group">
        <%= f.label :"宛名" %>
        <%= f.text_field :shipping_name, placeholder:"名前を入力してください"%>
      　<%= f.submit "変更内容を保存" %></td>
      </div>
      <% end %>
    </div>
  </div>
</div>