<h2>配送先編集</h2>
<%= form_with model: @shipping_address, local: true do |f| %>
<table>
<tbody>
  <tr>
    <td>郵便番号(ハイフンなし)</td>
    <td><%= f.text_field :shipping_postcode, placeholder:"0000000" %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= f.text_field :shipping_address, placeholder:"住所を入力してください"%></td>
  </tr>
  <tr>
    <td>宛名</td></td>
    <td><%= f.text_field :shipping_name, placeholder:"名前を入力してください"%></td>
    <td><%= f.submit "内容を変更" %></td>
  </tr>
</tbody>
</table>
<% end %>