<h2>配送先登録/一覧</h2>



<table class="table table-bordered">
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛先</th></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  <% @shipping_addresses.each do |shipping_address| %>
    <tr>
      <td><%= shipping_address.shipping_postcode %></td>
      <td><%= shipping_address.shipping_address %></td>
      <td><%= shipping_address.shipping_name %></td>
      <td><%= link_to "編集する", class:"btn btn-success" %></td>
      <td><%= link_to "削除する", class:"btn btn-danger" %></td>
    </tr>
  <% end %>
  </tbody>
</table>


