<div class="container mt-5 mb-5">
  
  <div class="row justify-content-center">
    <div class="col-6">
      <h4>ログイン</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-5 mb-3">
      会員の方はこちらからログイン
    </div>
  </div>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row justify-content-center">
      <div class="col-2">
        <%= f.label "メールアドレス" %>
      </div>
      <div class="col-2">
        <%= f.email_field :email, autofocus: true, :size => "25", autocomplete: "sample@example.com" %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <%= f.label "パスワード" %>
      </div>
      <div class="col-2">
        <%= f.password_field :password, :size => "25", autocomplete: "current-password" %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2 offset-md-1 mt-3 mb-5">
        <%= f.submit "ログイン", class:"col btn btn-primary" %>
      </div>
    </div>
  <% end %>
  
  <%= render "customers/shared/links" %>
</div>
