<div class="container mt-5 mb-5">
  <div class="col-8 mx-auto">
    <h2>ログイン</h2>
    <h3>会員の方はこちらからログイン</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
        <tr>
          <td><%= f.label "メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "sample@example.com" %></td>
        </tr>
        <tr>
          <td><%= f.label "パスワード" %></td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </table>
      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-primary col-3" %>
      </div>
      <% end %>
    
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="col-8 mx-auto">
    <%= render "customers/shared/links" %>
  </div>
</div>
    
