<div class="container">
  <div class="row"><h2>注文確認画面</h2></div>
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 px-8">
      <table class="table" style="table-layout:fixed;">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @total_amount = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= attachment_image_tag cart_item.item, :image_id, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %><%= cart_item.item.name %></td>
              <td><%= change_price_excluding_tax(cart_item.item.price_excluding_tax) %></td>
              <td><%= cart_item.amount %></td>
              <td><%= amount = change_price_excluding_tax(cart_item.item.price_excluding_tax * cart_item.amount) %></td>
            </tr>
            <% @total_amount += amount %>
          <% end %>
        </tbody>
      </table>

      <table>
        <tr><th>支払い方法</th><td><%= @order.payment_option %></td></tr>
        <tr><th>お届け先</th><td><%= "〒#{@order.shipping_postcode} #{@order.shipping_address} #{@order.shipping_name}" %></td></tr>
      </table>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 px-3 offset-1">
      <table class="table">
        <tr><th>送料</th><td>800</td></tr>
        <tr><th>商品合計</th><td><%= @total_amount %></td></tr>
        <tr><th>請求合計</th><td><%= @total_billing_amount = 800 + @total_amount %></td></tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-10 px-sm-0 mx-auto">
      <%= form_with model: @order,  local:true do |f| %>
        <%= f.hidden_field :shipping_postcode, :value => @order.shipping_postcode %>
        <%= f.hidden_field :shipping_address, :value => @order.shipping_address %>
        <%= f.hidden_field :shipping_name, :value => @order.shipping_name %>
        <%= f.hidden_field :total_payment, :value => @total_billing_amount %>
        <%= f.hidden_field :payment_option, :value => @order.payment_option %>
        <%= f.submit "注文を確定する", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
