<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 px-10 px-sm-0 mx-auto">
      <h2>注文履歴一覧</h2>
      <table class="table" style="table-layout:fixed;">
        <thead>
          <tr>
            <th class="table-active">注文日</th>
            <th class="table-active">配送先</th>
            <th class="table-active">注文商品</th>
            <th class="table-active">支払金額</th>
            <th class="table-active">ステータス</th>
            <th class="table-active">注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at %></td>
              <td><%= "〒#{order.shipping_postcode}" %><br><%= order.shipping_address %><br><%= order.shipping_name %></td>
              <td>
                <% order.order_details.each do |order_detail| %>
                  <%= order_detail.item.name %><br>
                <% end %>
              </td>
              <td><%= "#{order.total_payment}円" %></td>
              <td><%= order.order_status %></td>
              <td><%= link_to "表示する", order_path(order), class: "btn btn-primary"  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>