<div class="container">
<h2>商品一覧(全<%= @items.count %>件)</h2>
  <div class="row">
    <% @items.each do |item|%>
    <div class="col-md-2 mx-auto text-center">
      <%= link_to item_path(item) do%>
         <p><%= image_tag 'no_image.jpg' %></p>
      <% end %>
       <p class="text-left"><%= item.name %></p>
       <p class="text-left"><%= item.price_excluding_tax %></p>
    </div>
    <% end %>
    <%= paginate @items %>
  </div>
</div
