<div class="container">
  <div class="row">
      <div class="col-md-4">
        <%= attachment_image_tag @item, :image, size: "200x180", format: "jpeg", fallback: "no_image.jpeg" %>
      </div>
      <div class="col-md-8">
        <h2><%= @item.name %></h2>
        <p><%= @item.description %></p>
        <h3>¥ <%= change_price_excluding_tax( @item.price_excluding_tax) %> (税込)</h3>
        <p><%= render "item_amount_form", cart_item: @cart_item, item: @item %></p>
      </div>
  </div>
</div>

