<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left ">
  	  <div class="col-xs-12 col-sm-8 col-md-3">
  	  	<h5><strong>メールマガジン登録</strong></h5>
  	  	<form>
		  <input type="email" class="mail-box" placeholder="メールアドレスを入力"><br>
		  <input type="submit" class="btn mail-magazine" value="登録する">
		</form>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-6">
        <h5>ONLINE STORE</h5>
        <div class="row">
          <div class="col-6">
            <ul class="list-unstyled quick-links">
			  <li><i class="fa fa-angle-double-right"></i><%= link_to "TOP", root_path %></li>
			  <li><i class="fa fa-angle-double-right"></i><%= link_to "マイページ", customers_path %></li>
			  <li><i class="fa fa-angle-double-right"></i><%= link_to "商品一覧", items_path %></li>
			  <li><i class="fa fa-angle-double-right"></i><%= link_to "特定商取引法に基づく表記", root_path %></li>
			  <li><i class="fa fa-angle-double-right"></i><%= link_to "プライバシーポリシー", root_path %></li>
			</ul>
		  </div>
         <div class="col-6">
           <ul class="list-unstyled quick-links">
           	<li><i class="fa fa-angle-double-right"></i><%= link_to "ご利用ガイド", root_path %></li>
           	<div class="footer-lists">
           	  <li><i class="fa fa-angle-double-right"></i><%= link_to "お支払いについて", root_path %></li>
           	  <li><i class="fa fa-angle-double-right"></i><%= link_to "配送について", root_path %></li>
           	  <li><i class="fa fa-angle-double-right"></i><%= link_to "よくある質問", root_path %></li>
           	</div>
           </ul>
         </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-3">
	    <h5>ABOUT</h5>
      	  <ul class="list-unstyled quick-links">
	        <li><i class="fa fa-angle-double-right"></i><%= link_to "NAGANO CAKEについて", about_path %></li>
	        <li><i class="fa fa-angle-double-right"></i><%= link_to "会社概要", root_path %></li>
	        <li><i class="fa fa-angle-double-right"></i><%= link_to "メディア・プレス", root_path %></li>
	        <li><i class="fa fa-angle-double-right"></i><%= link_to "スタッフ募集", root_path %></li>
	        <li><i class="fa fa-angle-double-right"></i><%= link_to "お問い合わせ", root_path %></li>
	      </ul>
   	  </div>
	</div>
	<div class="row text-xs-center text-sm-center text-md-left">
	  <div class="col-xs-12 col-sm-12 col-md-8 mt-2 mt-sm-5">
	    <ul class="list-unstyled list-inline social">
	 	  <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>	
		  <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
		  <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
	      <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
	      <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
	    </ul>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-4 mt-2 mt-sm-5">
	  	<p>© 2021,NAGANO CAKE, © 2021 Yoppari Club Japan</p>
	  </div>
	<hr>
	</div>	
  </div>
</section>