<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5667bc939f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag "S__11862023.jpg", :size => "50x50" %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <!--adminログイン時のヘッダー-->
            <% if admin_signed_in? %>
              <li class="nav-item">
                <i class="fas fa-cookie-bite"></i> <%= link_to "商品一覧", admin_items_path %>
              </li>
              <li class="nav-item">
                <i class="fas fa-users"></i> <%= link_to "会員一覧", admin_customers_path %>
              </li>
              <li class="nav-item">
                <i class="fas fa-clipboard-list"></i> <%= link_to "注文履歴一覧", "#"  %>
              </li>
              <li class="nav-item">
                <%= link_to "ジャンル一覧", admin_genres_path %>
              </li>
              <li class="nav-item">
                <i class="fas fa-sign-out-alt"></i> <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
              </li>
              <form>
                <input type="search"  placeholder="キーワードを入力">
                <input type="submit" value="検索">
              </form>

            <!--customersログイン時のヘッダー-->
            <% elsif customer_signed_in? %>
              <li class="nav-item">
                ようこそ <%= link_to customers_path do %>
                <strong><%= current_customer.last_name %><%= current_customer.first_name %></strong>
                <% end %>
                 さん
              </li>
              <li class="nav-item">
                <i class="fas fa-user-circle"></i> <%= link_to "マイページ", customers_path %>
              </li>
              <li class="nav-item">
                <i class="fas fa-cookie-bite"></i> <%= link_to "商品一覧", items_path %>
              </li>
              <li class="nav-item">
                <i class="fas fa-shopping-cart"></i> <%= link_to "カート", cart_items_path %>
              </li>
              <li class="nav-item">
                <i class="fas fa-sign-out-alt"></i> <%= link_to "ログアウト",  destroy_customer_session_path, method: :delete %>
              </li>
            <% else %>
            <!--ログイン前時のヘッダー-->
              <li class="nav-item">
                <i class="fas fa-store-alt"></i> <%= link_to "About", about_path %>
              </li>
              <li class="nav-item">
                <i class="fas fa-cookie-bite"></i> <%= link_to "商品一覧", items_path %>
              </li>
              <li class="nav-item">
                <i class="fas fa-user-plus"></i> <%= link_to "新規登録", new_customer_registration_path %>
              </li>
              <li class="nav-item">
                <i class="fas fa-user"></i> <%= link_to "ログイン", new_customer_session_path %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="row">
  			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <% flash.each do |key, value| %>
          <p class="alert alert-<%= key %>">
            <%= value %>
          </p>
        <% end %>
        </div>
      </div>
    </div>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
